@font-face {
    font-family: Vazir-Medium;
    src: url("./font/Vazir-Medium.ttf");
}

@media (max-width: 992px) {
    .catgory {
        order: 0;
    }

    .left-blog {
        order: 1;
    }
}

body {
    font-family: Vazir-Medium;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 10px;
}

.mainnav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lang {
    margin: 0% !important;
    text-align: left;
}

.logo {
    margin: 0% !important;
    text-align: right;
}

.logo-img {
    width: 50px;
    border-radius: 50%;
}

a {
    text-decoration: none !important;
    color: black !important;
}

a:hover {
    color: #faa21d !important;
    transition: .2s;
}

ul {
    list-style: none;
}

.main-blog {
    height: auto;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* ============left start blog============== */
.left-blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blog-1 {
    background-color: white;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 0px 7px 0px #bbbbbb;
    margin: 20px;
}

.blog-1 p {
    color: #a7a4aa;
    text-align: right;
}

.blog-img {
    width: 100%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 8px #bbbbbb;
}

.star {
    display: flex;
    flex-direction: row !important;

}

.comment-rating i {
    color: #FAD56B;
    margin-right: 3px;
}

.blog-date {
    margin-right: auto;
    color: #b0b0b0;
}

.btn-more {
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    background-color: #faa31d;
    color: white;
    margin-right: auto;
}

.btn-more:hover {
    border: 2px dashed #faa31d;
    background-color: white;
    color: black;
}

.visit {
    display: flex;
    flex-direction: row;
}

.visit-number {
    margin-left: auto;
    padding-top: 10px;
    color: #b0b0b0;
}

/* ============right start blog============== */
.right-input {
    margin: 20px 0;
    height: 40px;
    border: none;
    border-radius: 15px;
    color: black;
}

.right-btn {
    margin: 20px 0;
    height: 35px;
    margin-top: 0 !important;
    border: none;
    border-radius: 15px;
    background-color: #faa31d;
    color: white;
}

.right-btn:hover {
    border: 2px dashed #faa31d;
    background-color: #f0f0f0;
    color: black;
}

.catgory {
    height: auto;
    background-color: white;
    border-radius: 15px;
    margin-top: 0 !important;
    text-align: right;
    padding: 15px;
}

.catgory-select {
    height: 30px;
    border: none;
    border-radius: 15px;
    border: 2px dashed #faa31d;
    background-color: white;
    color: black;
    margin: 10px 0;
}